

<form asp-controller="Home" asp-action="ViewSubReddit" asp-route-id="subredditName">
    <label>Enter the name of the subreddit you'd like to browse (Ex: aww or relationshipadvice --this one will show you how I handled text posts)</label>
    <label>Error handling doesn't work the way I wanted--but put a space in the subreddit name to see error handling</label>
    <input type="text" name="subredditName" />
    <input type="submit"/>
</form>
