

<form asp-controller="Home" asp-action="ViewSubReddit" asp-route-id="subredditName">
    <label>Enter the name of the subreddit you'd like to browse (Ex: aww)</label>
    <input type="text" name="subredditName" />
    <input type="submit"/>
</form>
